<% provide(:title, 'Application Submitted') %>


  <div class="hero-unit">
<h1><%= yield(:title) %>!</h1>
</div>
<center>
  <div class="hero-unit">
    Your application has been submitted and a confirmation email has been sent to <%= @apply.email %>.
    <hr>
    
    <p>
    	There is a $20 fee per application to run a background/credit check. We accept payments through our secured server, or you can also write a check to <strong>"Via Deca Partners"</strong> instead. Cash is not accepted.
    </p>
    <p>
         <%= form_tag charges_path do %>
          <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Via Deca Partners - Tenant Application Fee"
                  data-amount="2000"></script>
    <% end %>
    </p>

  </div>
</center>

<%= link_to '<< Back to all available units', avail_path, class: "btn btn-primary" %>
