<!-- app/views/inquiries/_form.html.erb -->
 
<%= simple_form_for(appform, html: { class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>
  
  <div class="row">
    <div class="span12">
      <div class="well">
        <h3>Applicant Information</h3><hr>
            <%= f.input :name %>
            <%= f.input :email, placeholder: 'user@domain.com' %>
            <%= f.input :phone, label: "Phone Number", placeholder: "xxx-xxx-xxxx" %>
            <%= f.input :dob, label: "Date of Birth", placeholder: "mm-dd-yy" %>
            <%= f.input :ssn, label: "SSN", placeholder: "xxx-xx-xxxx" %>
            <%= f.input :license, label: "Driver's License" %>
            <%= f.input :licensestate, label: "State Issued" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="well">
        <h3>Current Rental History</h3><hr>
        <%= f.input :current_address, label: "Current Address" %>
        <%= f.input :current_unit, label: "Unit #" %>
        <%= f.input :current_city, label: "City" %>
        <%= f.input :current_state, label: "State" %>
        <%= f.input :current_zip, label: "Zip" %>
        <%= f.input :current_start_date, label: "From", placeholder: "MM/YY" %>
        <%= f.input :current_end_date, label: "To", placeholder: "MM/YY" %>
        <%= f.input :current_total_date, label: "How Long", placeholder: "Total years" %>
        <%= f.input :current_rent, label: "Rent" %>
        <%= f.input :current_manager, label: "Manager's Name" %>
        <%= f.input :current_manager_phone, label: "Manager's Phone" %>
        <%= f.input :current_reason, label: "Reason for leaving", as: :text, input_html: { rows: "4" } %>
      </div>
    </div>
  
    <div class="span6">
      <div class="well">
        <h3>Previous Rental History</h3><hr>
        <%= f.input :previous_address, label: "Previous Address" %>
        <%= f.input :previous_unit, label: "Unit #" %>
        <%= f.input :previous_city, label: "City" %>
        <%= f.input :previous_state, label: "State" %>
        <%= f.input :previous_zip, label: "Zip" %>
        <%= f.input :previous_start_date, label: "From", placeholder: "MM/YY" %>
        <%= f.input :previous_end_date, label: "To", placeholder: "MM/YY" %>
        <%= f.input :previous_total_date, label: "How Long", placeholder: "Total years/months" %>
        <%= f.input :previous_rent, label: "Rent" %>
        <%= f.input :previous_manager, label: "Manager's Name" %>
        <%= f.input :previous_manager_phone, label: "Manager's Phone" %>
        <%= f.input :previous_reason, label: "Reason for leaving", as: :text, input_html: { rows: "4" } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="well">
        <h3>Employment Information</h3><hr>
        <%= f.input :employer, label: "Current Employer" %>
        <%= f.input :employer_address, label: "Employer Address" %>
        <%= f.input :employer_city, label: "City" %>
        <%= f.input :employer_state, label: "State" %>
        <%= f.input :employer_zip, label: "Zip" %>
        <%= f.input :employer_start_date, label: "Start Date", placeholder: "MM/YY" %>
        <%= f.input :employer_total_date, label: "How Long", placeholder: "Total years/months" %>
        <%= f.input :employer_salary, label: "Annual Salary" %>  
        <%= f.input :employer_title, label: "Job Title/Position" %>
        <%= f.input :employer_supervisor, label: "Supervisor's Name" %>
        <%= f.input :employer_supervisor_title, label: "Supervisor's Job Title/Position" %>
        <%= f.input :employer_supervisor_phone, label: "Supervisor's Phone Number" %>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="span6">
        <div class="well">
          <h3>Emergency Information</h3><hr>
          <%= f.input :emergency_contact, label: "Emergency Contact Name" %>
          <%= f.input :emergency_relationship, label: "Relationship" %>
          <%= f.input :emergency_phone, label: "Emergency phone number" %>
        </div>
      </div>
   
      <div class="span6">
        <div class="well">
          <h3>Vehicle Information</h3><hr>
          <%= f.input :vehicle_make, label: "Make", placeholder: "ex: Toyota" %>
          <%= f.input :vehicle_model, label: "Model", placeholder: "ex: Prius" %>
          <%= f.input :vehicle_color, label: "Color" %>
          <%= f.input :vehicle_year, label: "Year" %>
          <%= f.input :vehicle_license, label: "License Plate" %>
        </div>
      </div>
    </div>
 
    <div class="row">
      <div class="span12">
        <div class="well">
          <h3>Additional Information</h3><hr>
          <%= f.input :message, label: "Additional information", as: :text, :input_html => {:rows => 5, :class => "span9"}, placeholder: 'Please specify the apartment & unit you are applying for. Please also list the names of any roommates you are applying with -- they will need to complete a separate application as well.' %>
          <h3>Terms and Conditions</h3><hr>
          <div class="well">
            <p>
            By selecting 'yes', I authorize and direct property owner or manager to immediately obtain such credit reports, character reports, criminal reports, verification of rental and employment history. I further understand that false, fraudulent or misleading information disclosed or omitted or incomplete information may be grounds fo denial of tenancy or subsequent eviction. If you enter into a rental agreement with property owner or manager they have the right to obtain credit reports, criminal reports and background information on you while you are residing in the rental property.
          </p>
          <%= f.input :acknowledgment, as: :radio_buttons, label: "I agree to the terms and conditions stated above" %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Submit Application", class: "btn btn-success btn-large" %>
      <br><br><small>Your information will never be sold or traded.</small>
    </div>
<% end %>