<% provide(:title, 'Admin Control Panel') %>

<% if current_user.admin? %>

		<div class="row">
	      <div class="span12">
	          	<center>
		            <h1><%= yield(:title) %></h1><hr>
		        </center>
	      </div>
	    </div>
		
		<div class="row">
        <div class="span3">
              <div class="hero-unit">
                <center>
                <h2>APARTMENTS</h2>
                </center>   
            </div>
        </div>
        <div class="span4 offset1">
              <div class="well">
                <center>
                <h4>Apartment Database</h4>
                    View leases and rental information for all units.
                  <hr>
                <p><%= link_to "Apartment Database", tenants_path, class: "btn btn-primary" %></p>  
                </center>   
            </div>
        </div>
	    	<div class="span4">
          		<div class="well">
                <center>
                <h4>Availabilities</h4>
                    Control the listings that appear under "Availabilities"
                <hr>
           			<p><%= link_to "Manage Availabilities", apartments_path, class: "btn btn-primary" %>
                   <%= link_to "Add New Listing", new_apartment_path, class: "btn btn-success" %></p>   
           			</center>   
        		</div>
     		</div>


     	</div>

    <div class="row">
        <div class="span3">
              <div class="hero-unit">
                <center>
                <h2>TENANTS</h2>
                </center>   
            </div>
        </div>      

        <div class="span4 offset1">
              <div class="well">
                <center>
                <h4>Rent Roll</h2>
                    Monthly rent payment information.
                  <hr>
                <p><%= link_to "View Rent Roll", rolls_path, class: "btn btn-primary" %></p>
                </center>  
              </div>
        </div>
            <div class="span4">
              <div class="well">
                <center>
                <h4>Repairs</h2>
                    Monitor tenant-submitted repair requests.
                  <hr>
                <p><%= link_to "Manage Repairs", repairs_path, class: "btn btn-primary" %></p>
                </center>  
              </div>
           </div>
      </div>
      
      <div class="row">
        <div class="span3">
              <div class="hero-unit">
                <center>
                <h2>WORK ORDERS</h2>
                </center>   
            </div>
        </div>      

        <div class="span4 offset1">
              <div class="well">
                <center><h4>Receipts</h4>
                    Itemized receipt database for all purchases.
                  <hr>
                <p><%= link_to "Manage Receipts", receipts_path, class: "btn btn-primary" %></p>
                </center>
              </div>
        </div>
      </div>
<% else %>

        <div class="row">
      <div class="span12">
          <div class="well">
            <center>
            <h1>Oops! This page doesn't exist!</h1>
            </center>
          </div>
      </div>
    </div>

<% end %>