
  <tr>
    <td><%= link_to "#{lease.street}, ##{lease.unit}", lease, class: "btn btn-info"%></td>
    <td><%= number_to_currency(lease.rent) %></td>
    <td>  
        <% if lease.tenant1_name != "" %>
            <%= lease.tenant1_name %>
        <% end %>
        <% if lease.tenant2_name != "" %>
            <%= ", " + lease.tenant2_name %>
        <% end %>
        <% if lease.tenant3_name != "" %>
            <%= ", " + lease.tenant3_name %>
        <% end %>
        <% if lease.tenant4_name != "" %>
            <%= ", " + lease.tenant4_name %>
        <% end %>
        
    </td>
    <td><% if lease.doc.exists? %>
        <%= link_to "View Lease", lease.doc.url, :target => '_blank', class: "btn btn-plain" %></td>
        <% end %>
        <% if current_user == lease.user %>
        <td><%= link_to 'Edit', edit_lease_path(lease), class: "btn btn-success" %></td>
        <td><%= link_to 'Destroy', lease, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
  </tr>