<% provide(:title, 'Apartment Database') %>

<% if current_user.admin? %>
  <h1><%= yield(:title) %></h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th width="18%"><%= sortable "street,unit", "Address" %></th>
          <th><%= sortable "rent" %></th>
          <th width="48%">Tenants</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render @leases %>
      </tbody>
    </table>
<small class="pull-left">
<%= will_paginate @repairs %>
</small>

    <br>
    <center>
    <%= link_to 'Add Apartment +', new_lease_path, class: "btn btn-primary" %>
    <center>

<% else %>

        <div class="row">
      <div class="span12">
          <div class="well">
            <center>
            <h1>Oops! This page doesn't exist!</h1>
            </center>
          </div>
      </div>
    </div>

<% end %>