<%= simple_form_for(@receipt, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :store, :include_blank => "--Select Store--",
      collection: Receipt::STORES.sort %>
    <%= f.input :month, :include_blank => "",
      collection: Receipt::MONTHS %>
    <%= f.input :day %>
    <%= f.input :year %>
    <%= f.input :description %>
    <%= f.input :purchased_for, :include_blank => "--Select Payment Method--",
      collection: Apartment.all %>
    <%= f.input :price %>
    <%= f.input :payment_method, :include_blank => "--Select Payment Method--",
      collection: Receipt::PAYMENT.sort %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
