<% provide(:title, 'Receipts') %>

<% if current_user.admin? %>
<div class="well">
  <h1><%= yield(:title) %> - Grand Total: 
  
    <% total = 0 %>
    <% temp = Receipt.all %>
    <% temp.each do |x| %>
    <%  total += x.price %>
    <% end %>
    <%= number_to_currency(total) %>
  </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sortable "created_at", "Date" %></th>
        <th><%= sortable "store" %></th>
        <th width="40%">Description</th>
        <th><%= sortable "price"%></th>
        <th><%= sortable "payment_method", "Payment Method" %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render @receipts %> 
       <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td><strong class="pull-right">Total: </strong></td>
          <td>    
            <% total = 0 %>
            <% @receipts.each do |x| %>
            <%  total += x.price %>
            <% end %>
            <%= number_to_currency(total) %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
  </table>
<small class="pull-left">
<%= will_paginate @receipts %>
</small>
<br>
  <center>
  <%= link_to 'New Receipt +', new_receipt_path, class: "btn btn-info"%>
</center>
</div>
<% else %>

        <div class="row">
      <div class="span12">
          <div class="well">
            <center>
            <h1>Oops! This page doesn't exist!</h1>
            </center>
          </div>
      </div>
    </div>

<% end %>