<% provide(:title, 'Repair Center') %>

<div class="hero-unit">
<h1><%= yield(:title) %></h1><hr>
<table class="table">
  <thead>
    <tr>
      <th width="10%"><%= sortable "id", "Ticket" %></th>
      <th>Description</th>
      <th width="10%">Created by</th>
      <th width="10%"><%= sortable "created_at", "Created at" %></th>
      <th width="10%"><%= sortable "status" %></th>
      <th width="10%"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @repairs %>
  </tbody>
</table>

<small class="pull-left">
<%= will_paginate @repairs %>
</small>

<br>

<% unless current_user.admin? %>
  <div class="row">
      <div class="span12">
          <div class="well">
            <center>
            <%= link_to 'Create New Repair Request', new_repair_path, class: "btn btn-primary btn-large" %>
            </center>
          </div>
      </div>
  </div>
  <% end %>
</div>
