<% provide(:title, 'Ticket ' + @repair.id.to_s) %>

<h1>Repair Center</h1>

<% if current_user == @repair.user || current_user.admin? %>
  <div class="row">
      <div class="span12">
          <div class="well">
            <center>
              <h1>Ticket # <%= @repair.id %></h1>
            </center>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="span12">
          <div class="well">
            <p>
              <strong>Status: </strong>
              <% if @repair.status == 1 %>
                  <td><button class="btn btn-success btn-mini">Received</button></td>
              <% elsif @repair.status == 2 %>
                  <td><button class="btn btn-warning">In Progress</button></td>
              <% else %>
                  <td><button class="btn btn-inverse">Closed</button><br>
                    This ticket has been locked and closed.</td>
              <% end %>
            </p>
            <p>
              <strong>Location: </strong><%= @repair.location_address %>
            </p>
            <p>
              <strong>Description: </strong><%= @repair.description %>
            </p>
            <p>
              <strong>Created at: </strong><%= @repair.created_at.strftime("%b. %d, %Y") %> <%= @repair.created_at.strftime("%H:%M") %>
            </p>
            <p>
              <strong>Submitted by: </strong><%= @repair.user.name %>
            </p>                          
          </div>
      </div>
  </div>

  <div class="row">
      <div class="span12">
          <div class="well">
            <p>
              <h3>Repair Update</h3><hr>
              <%= @repair.repair_details %>
            </p>                          
          </div>
      </div>
  </div>  

<% else %>
  <div class="row">
      <div class="span12">
          <div class="well">
            <center>
            <h1>Oops! This isn't your ticket!</h1>
            </center>
          </div>
      </div>
  </div>
<% end %>

<div class="row">
    <div class="span12">
        <div class="well">
          <center>
            <%= link_to '<< Back To Existing Repairs', repairs_path, class: "btn btn-primary" %>
          </center>
        </div>
    </div>
</div>

