<% if apartment.isAvailable == true || current_user == apartment.user %>
<hr>
  <div class="row well">
      <div class="span4">
          <div>
            <%= link_to image_tag(apartment.image(:medium)), apartment %>
          </div>
      </div>

      <div class="span6">
            <div>
              <p>
                <h3 align="center">   
                    <%= apartment.streetAddress %>, #<%= apartment.aptNumber %>
                </h3>
              </p>

              <p>
                <strong>
                    Description: 
                </strong>
                <%= apartment.description %><br>
              </p>
              
                <%= apartment.beds %> bed, <%= apartment.baths %> bath<br>

                <p>
                    <strong>
                        Rent: 
                    </strong>
                    $<%= apartment.rent %> per month.
                </p>

                    <%= link_to 'More info >>', apartment, class: "btn btn-primary btn-large" %>
                
                    <% if current_user == apartment.user %>
                        <p>
                            <%= link_to 'Modify', edit_apartment_path(apartment), class: "btn btn-success btn-small" %>
                            <%= link_to 'Delete', apartment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-small" %>
                        </p>
                    <% end %>
            </div>
        </div>
      </div>

<% end %>
