<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <%= link_to "Via Deca Partners", root_path, class: "brand" %>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><%= link_to 'Availabilities',  avail_path %></li>
                    <li><%= link_to 'Contact Us',  contact_path %></li>
                  
                    <% if user_signed_in? %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Repair Center 
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">                                
                                <li><%= link_to "View Existing Repairs", repairs_path %></li>
                                <li><%= link_to "New Repair Request", new_repair_path %></li>
                            </ul>
                        </li>
                    <% end %>

                </ul>
                <ul class="nav pull-right">
                      <% unless user_signed_in? %>
                        <li><%= link_to 'Sign Up',  new_user_registration_path %></li>
                        <li><%= link_to 'Tenant Login',  new_user_session_path %></li>
                      <% else %>
                        <!-- move this to admin section later -->
                        <!--
                        <li><%= link_to 'Add Unit+', new_apartment_path %></li>
                        -->
                        <% if current_user.admin? %>
                            <li><%= link_to 'Admin Control Panel',  admin_path %></li>
                        <% end %>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %>
                             <b class="caret"></b>
                          </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to 'Edit Profile',  edit_user_registration_path %></li>
                                <li><%= link_to 'Sign Out',  destroy_user_session_path, method: :delete %></li>
                            </ul>
                        </li>
                      <% end %>

                </ul>
            </div>
        </div>
    </div>
</div>